.plx-nav a {
	font-size: 1.5rem !important;
	line-height: 1rem !important;
	font-family: sans-serif !important;
}
#MainHeader {
	background-color: #262626;
	border-bottom: 4px solid #cdcdcd;
}
a.Header-logo  {
	color: #fff !important;
	font-size: 1.6rem !important;
	text-decoration: none !important;
}
.Header .MeButton:active,
.Header .MeButton:focus,
.Header .MeButton:hover,
.Header .ToggleFlyout.Open .MeButton {
	background-color: #262626 !important;
}
.Hamburger button:hover,
.Hamburger input[type="button"]:hover,
.Hamburger input[type="reset"]:hover,
.Hamburger input[type="submit"]:hover {
	background-color: inherit;
}
.Frame {
	border-bottom: 1px solid #ddd;
	padding-bottom: 6rem;
	background-color: #dddddc !important;
}
.richEditor [type="button"],
.richEditor [type="reset"],
.richEditor [type="submit"], button {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.richEditor button,
.richEditor input[type="button"],
.richEditor input[type="reset"],
.richEditor input[type="submit"] {
	color: inherit !important;
}
.richEditor button:hover,
.richEditor input[type="button"]:hover,
.richEditor input[type="reset"]:hover,
.richEditor input[type="submit"]:hover {
	background-color: inherit !important;
}
.H {
	margin-bottom: 10px !important;
}
.emoji {
    height: 20px;
}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    color: #f9f9f9;
}
.richEditorFlyout {
	width: 290px !important;
}
.Activities .Item.Activity .Author, .Conversations .Item.Activity .Author, .MessageList .Item.Activity .Author,
.Activities .Item.Activity .Meta, .Conversations .Item.Activity .Meta, .MessageList .Item.Activity .Meta,
.Activities .Item.Activity .Options, .Conversations .Item.Activity .Options, .MessageList .Item.Activity .Options {
	padding: 0px 10px;
}
.Conversations .ItemContent .Users, .Conversations .ItemContent .Excerpt {
	padding-left: 66px !important;
}
.Conversations .ItemContent .Meta {
    padding-left: 60px !important;
}
.ConversationMessage {
	padding: 0px 10px;
}
.ConversationMessage .Meta {
	margin-top: 10px !important;
} 
.ConversationMessage .Author {
	font-weight: bold;
	font-size: 1.5rem;
}
.Section-Conversation .Conversation .PhotoWrap, .Section-Conversation .DataList.Conversations .PhotoWrap, .Section-ConversationList .Conversation .PhotoWrap, .Section-ConversationList .DataList.Conversations .PhotoWrap {
	left: 10px !important;
}
.DataList .Item.Read .Title {
    font-weight: normal !important;
}
.DataList .Item, .MessageList .Item {
	background-color: #f7f7f7 !important;
	margin-bottom: 10px;
}
.DataList .IndexPhoto, .MessageList .IndexPhoto {
	margin-left: 10px !important;
}
.DataList.Discussions .ItemDiscussion-withPhoto.ItemDiscussion-withPhoto .Discussion.ItemContent {
	padding-left: 66px !important;
}
.MessageList .ItemComment.ItemComment, .MessageList .ItemDiscussion.ItemDiscussion {
	margin-bottom: 10px
}
.DataList .AuthorWrap, .DataList .Meta, .MessageList .AuthorWrap, .MessageList .Meta {
	margin-top: 0px;
}
@media screen and (max-width:768px) {
	.DataList .AuthorWrap, .DataList .Meta, .MessageList .AuthorWrap, .MessageList .Meta {
		margin-top: 0px !important;
	}
}
.MessageList .ItemComment .Username, .MessageList .ItemDiscussion .Username {
	font-weight: bold !important;
	font-size: 1.5rem !important;
}
.MessageList .ItemComment .Item-Header, .MessageList .ItemDiscussion .Item-Header {
	background-color: #f7f7f7 !important;
	border-bottom: 1px solid #ddd;
}
.MessageList .ItemComment .Item-Header .PhotoWrap, .MessageList .ItemDiscussion .Item-Header .PhotoWrap {
	margin-left: 5px !important;
}
.MessageList .ItemComment .Item-BodyWrap, .MessageList .ItemDiscussion .Item-BodyWrap {
    padding: 12px 10px;
    background-color: #f7f7f7;
}
.Options .Bookmark, .Options .SpFlyoutHandle {
	margin-right: 5px;
}
.footer {
    background: #f7f7f7;
    color: #666;
    padding: 6rem 0;
    text-align: center;
    font-size: 1.2rem;
}
.userContent pre, .UserContent pre, .userContent pre.codeBlock, .UserContent pre.codeBlock {
	background-color: #fdfdfd  !important;
	border: 1px solid #e8e8e8  !important;
}
.footer section {
    padding: 2rem 0rem;
}
.footer a, .footer li.active a {
    color: #666;
    font-size: inherit;
}
.footer ul {
	margin: 12px 0px;
}
